<app-top-bar></app-top-bar>
<form [formGroup]="adForm" (submit)="onSubmit()">
  <div class="cnt">
      <label for="productName">Product Name</label>
      <input type="text" id="productName" formControlName="productName">

      <label for="description">Description</label>
      <textarea id="description" formControlName="description"></textarea>

      <label for="image">Image</label>
      <input type="file" id="image" (change)="onImageSelected($event)" accept="image/*">

      <label for="price">Price</label>
      <input type="number" id="price" formControlName="price">

      <label for="category">Category</label>
      <select id="category" formControlName="category">
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>

      <div class="each">
        <label for="status">Status</label>
        <input type="checkbox" id="status" formControlName="status">
      </div>

    
        <label for="phoneNumber">Phone number</label>
        <input type="text" id="phoneNumber" formControlName="phoneNumber">
      <button type="submit" (click)="create_own_ad()">Create Ad</button>

  </div>
    
  </form>
  